---
const { title } = Astro.props;
---
  <article>
    <h3>
      <a href="#0">{title}</a>
    </h3>
  </article>

  <style>
article {
    padding: var(--space-md);
    border-radius: var(--border-radius-medium);
    background-color: rgb(40, 40, 164) ;
    width: 200px;
    height: 200px;

}

h3 {
text-align: start;
font-size: 20px;
}
  </style>